<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="{{actionPath}}" method="POST">
        {% csrf_token %}
        {%for field in form %}
        {{ field.errors }}<br>
        <label for="title">{{field.label}}</label>
        {{field}}<br>
        {%endfor%}
        <br>
        <button type="submit">Далее</button>
    </form>
   
</body>

</html>